.searchbar {
    display: flex;
}

.searchbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.searchbar svg {
    height: 30px;
    width: 30px;
}

.searchbar input {
    border-radius: 3px;
    height: 16px;
}